<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body style="background-color: antiquewhite; margin: 0;">
        <!--Header-->
        <%- include('./partials/banner.ejs') %>
        <h1 style="text-align: center; margin-bottom: 0px; margin-top: 20px;">Cities!</h1>
        <div class="container" style="display: flex; background-color: beige; justify-content: center; margin-left: 10%; position: fixed; width: 80%; border-style: solid; border-width: 1.5px; border-color: grey;">
            <div style="width: 60%; border-right: 1.5px; border-right-style: solid; border-color: grey; padding-bottom: 1%;">
                Sort By: ___
            </div>
            <div style="text-align: center; width: 30%;">
                Random!
            </div>
        </div>
        <div class="cities" style="background-color: azure; margin-left: 10%; position: fixed; width: 80%; border-style: solid; border-width: 1.5px; border-color: grey; top: 27.5%;">
        <div class="container" style="display: flex; justify-content: left; width: 100%; align-items: center; margin-bottom: 5px;">
                <!-- Test Popup Here ==> --><div><h3 id="test" style="margin: 0px; padding-left: 5px;">City Name</h3></div>
                <div><t style="padding-left: 5px;">City Information (Foundation, Country, Language)</t></div>
            </div>
            <div class="container" style="display: flex; justify-content: left; width: 100%; align-items: center; margin-bottom: 5px;">
                <div><h3 style="margin: 0; padding-left: 5px;">City Name</h3></div>
                <div><t style="padding-left: 5px;">City Information (Foundation, Country, Language)</t></div>
            </div>
            <div class="container" style="display: flex; justify-content: left; width: 100%; align-items: center; margin-bottom: 5px;">
                <div><h3 style="margin: 0; padding-left: 5px;">City Name</h3></div>
                <div><t style="padding-left: 5px;">City Information (Foundation, Country, Language)</t></div>
            </div>
        </div>
        <!--Footer-->
        <%- include('./partials/footer.ejs') %>

        <!--Popup

        This doesn't work, I'm trying to figure it out - JF

        <div id="popup">
            <%- include('./partials/popup.ejs') %>
        </div>
        <script src="..\public\javascript\popup.js"></script>
        -->

    </body>
</html>