<!DOCTYPE html>
<html>
    <head>

    </head>
    <body style="background-color: antiquewhite; margin: 0;">
        <!--Header-->
        <%- include('./partials/banner.ejs') %>
        <div style="display: flex; align-items: center; justify-content: space-between; margin: 5px;">

            <!-- LEFT SIDE (circle + username) -->
            <div style="display: flex; align-items: center; gap: 8px;">

                <% if (user) { %>

                    <!-- Circle -->
                    <a href="/dashboard" style="height: 30px; width: 30px; background-color: grey; border-radius: 50%;"></a>

                    <!-- Username -->
                    <a href="/dashboard" style="text-decoration: none; color: black; font-weight: bold;">
                        <%= user.username %>
                    </a>

                <% } %>

            </div>

        
            <!-- RIGHT SIDE (login/logout) -->
            <div>
                <% if (user) { %>
                    <a href="/users/logout" style="text-decoration: none;">
                        <div style="height: 30px; width: 75px; text-align: center; background-color: bisque; border-style: solid;">
                            <h3 style="margin: 0; margin-top: 5px;">Log Out</h3>
                        </div>
                    </a>
                <% } else { %>
                    <a href="/login" style="text-decoration: none;">
                        <div style="height: 30px; width: 75px; text-align: center; background-color: bisque; border-style: solid;">
                            <h3 style="margin: 0; margin-top: 5px;">Log In</h3>
                        </div>
                    </a>
                <% } %>
            </div>
        
        </div>
        <div class="oval" style="height: 150px; width: 350px; border-radius: 50%; background-color: aqua; transform: rotate(165deg); position: fixed; inset: 0px; width: 350px; height:150px; max-width: 100vw; max-height: 100dvh; margin: auto; display: flex; justify-content: center; align-items: center;">
            <h1 style="transform: rotate(195deg); text-align: center;">Start a Mapch!</h1>
        </div>
        <!--Footer-->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>