<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!--Header-->
        <%- include('./partials/banner.ejs') %>
        
        <!--Footer-->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>