<!DOCTYPE html>
<html>
<head>
</head>

<body style="background-color: antiquewhite; margin: 0;">

    <!-- Banner -->
    <%- include('./partials/banner.ejs') %>

    <!-- Back button (top right like login on home) -->
    <div style="float: right; margin: 3px;">
        <a href="/" style="text-decoration: none;">
            <div style="height: 30px; width: 75px; text-align: center; background-color: bisque; border-style: solid;">
                <h3 style="margin: 0; margin-top: 5px;">Home</h3>
            </div>
        </a>
    </div>

    <!-- Centered Login Form -->
    <div style="
        height: 150px;
        width: 350px;
        border-radius: 50%;
        background-color: aqua;
        transform: rotate(165deg);
        position: fixed;
        inset: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    ">

        <div style="transform: rotate(195deg); text-align: center;">

            <h2 style="margin-top: 0;">Login</h2>

            <form action="/users/login" method="POST">
                
                <input 
                    type="email" 
                    name="email" 
                    placeholder="Email"
                    required
                    style="margin: 5px; padding: 5px;"
                ><br>

                <input 
                    type="password" 
                    name="password" 
                    placeholder="Password"
                    required
                    style="margin: 5px; padding: 5px;"
                ><br>

                <button 
                    type="submit"
                    style="margin-top: 10px; padding: 5px 10px; cursor: pointer;"
                >
                    Login
                </button>

            </form>

        </div>
    </div>

</body>
</html>