<!DOCTYPE html>
<html>
    <head>

    </head>
    <body style="margin: 0;">
        <header class="banner" style="width: 100%; padding: 40px 0; text-align: center; background-color: violet;">
            <div class="banner-content">
                <h1 style="margin: 0; font-family: fantasy; letter-spacing: 1px; font-weight: 1;">What's The Maps?</h1>
            </div>
        </header>
    </body>
</html>