<bar class="site-bar">
  <nav class="bar-row" aria-label="bar navigation" style="background-color: rgb(199, 164, 136); width: 100%; border-bottom-style: solid; border-color: rgb(129, 101, 41);">
    <div class="bar-column">
      <ul class="bar-links">
        <li><a class="bar-link" href="/">Home</a></li>
      </ul>
    </div>
    <div class="bar-column">
      <ul class="bar-links">
        <li><a class="bar-link" href="/dashboard">Profile</a></li>
      </ul>
    </div>
    <div class="bar-column">
      <ul class="bar-links">
        <li><a class="bar-link" href="/cities">Cities</a></li>
      </ul>
    </div>
    <div class="bar-column">
      <ul class="bar-links">
        <li><a class="bar-link" href="/leaderboard">Leaderboard</a></li>
      </ul>
    </div>
  </nav>
</bar>
