<footer class="site-footer">
  <div class="footer-row">
    <div class="footer-column">
      <ul class="footer-links">
        <li><a class="footer-link" href="/">Home</a></li>
        <li>Profile</li>
      </ul>
    </div>
    <div class="footer-column">
      <ul class="footer-links">
        <li><a class="footer-link" href="/cities">Cities</a></li>
        <li><a class="footer-link" href="/leaderboard">Leaderboard</a></li>
      </ul>
    </div>
  </div>
</footer>
