<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body style="margin: 0;">
        <footer style="float: left; background-color: grey; width: 100%; position: fixed; bottom: 0;">
            <div class="row" style="float: left; padding: 5px; color: black; font-size: 16px; display: flex; width: 100%;">
                <div class="column left" style="width: 50%; text-align: center;">
                    <ul style="display: inline-block; text-align: left; text-decoration: underline;">
                        <li><a href="/" style="color: black;">Home</a></li>
                        <li>Profile</li>
                    </ul>
                </div>
                <div class="column right" style="width: 50%; text-align: center;">
                    <ul style="display: inline-block; text-align: left; text-decoration: underline;">
                        <li><a href="/cities" style="color: black;">Cities</a></li>
                        <li><a href="/leaderboard">Leaderboard</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>