<div class="mapchpopup" style="background-color: rgba(0, 0, 0, 0); height: 55vh; width: 30vw; margin: 0; border-style: solid; border-width: 1px; position: fixed; left: 35vw; top: 25vh; border-radius: 10px;">
    <div class="rectangle" style="height: 100%; width: 100%; background-color: rgb(243, 221, 193); display:flex; justify-content: center; border-radius: 10px;">
        <button class="back" id="mapch-back" onclick="mapchBack()" style="height: 10%; background-color: #8c322a; border-style: solid; border-radius: 50%; position: absolute; top: 15px; left: 15px;"><==</button>
        <div class="city-choose" style="border-style: solid;position: absolute; height: fit-content; border-width: 1px; border-radius: 15px; padding: 15px; top: 20%; background-color: rgb(247, 213, 186);">
            <label for="quizCity"> Choose a city!</label>
            <select id="quizCity" name="citydropdown">
                <option>Austin</option>
                <option>San Antonio</option>
                <option>Houston</option>
            </select>
        </div>
        <button class="randomMapch" style="height: 10vh; position: absolute; top: 40%; background-color: rgb(247, 213, 186); border-width: 1px; border-radius: 20px; width: 20%;">
            Random
        </button>
        <button class="startMapch" style="height: 10vh; position: absolute; top: 70%; background-color: rgb(247, 213, 186); border-width: 1px; border-radius: 20px; width: 35%;">
            Start The Mapch!
        </button>
    </div>
</div>