<div class="citypopup" style="display: flex; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.5); height: 100vh; margin: 0;">
  <button class="back" id="back-button" onclick="back()" style="height: 7.5%; width: 8%; background-color: #8c322a; border-style: solid; border-radius: 50%; position: absolute; top: 15px; left: 15px;"><==</button>
  <div class="rectangle" style="height: 65%; width: 90%; background-color: antiquewhite; display: flex;">
    <div style="width: 55%; margin: 0;">
      <h2 style="margin: 10px;">City Name</h2>
      <p style="margin-left: 10px;">This city can fit so many cats you have no clue. There are so many cat in this bad boy. Literally BILLIONS of cats live in this city. It's crazy! I can't go a singular day without seeing or passing by at least 20 cats. Which, I mean, I'm not complaing, but- you know- IT'S A LOT OF CATS. Anyways this city is about yey big and about that wide and it was founded in fourtwentysixtynine. Talk about city of the future, am I right? No? Didn't like that one? Alright, tough crowd.</p>
    </div>
    <div style="width: 40%; display: flex; align-items: center;">
      <div class="picture" style="height: 75%; width: 100%; background-color: rgb(216, 204, 188); border-color: black; border-style: solid; margin-left: 10px;">
        <p style="text-align: center;">Your Picture Here fr</p>
      </div>
    </div>
  </div>
</div>
